form(action='/' method='post')
  div
    label Όνομα Χρήστη:
    input(type='text' name='username')
    br
  div
    label Κωδικός Χρήστη:
    input(type='password' name='password')
  div
    input(type='submit' value='Submit')
