doctype html
html
  head
    title Choose Category
  body
    h1 Choose Timeline
      br

      if categories.length > 0
        h2 Choose Timeline
        form(method = 'post', action = '/groups')
          select(id = "category", name = "categoryName", size = categories.length)
            each category in categories
              option(value=category.categoryName) #{category.categoryName}
          br
          input(type= "submit", class = "category", value = "Choose Group to view")

        br
      br
