
doctype html
html
  head
    title Error
  body

    form(method = 'post', action = '/groups')
      input(type= "submit", value = "Back to Category")
      input(type="hidden", name='categoryName', value= curCategory)
    h1 Error
      br

        

      h3 #{message}
