
doctype html
html
  head
    title Σφάλμα
  body

    form(method = 'post', action = '/groups')
      input(type= "submit", value = "Μετάβαση στην Κατηγορία")
      input(type="hidden", name='categoryName', value= curCategory)
    h1 Σφάλμα
      br

        

      h3 #{message}
