doctype html
html
  head
    title Add Event
  body
    h1 Add Event
      
    form(method='post', action='/addEvent')
      label Event
      br
      select(id = "categ", name="categoryName", placeholder='Choose Category')
        each category in categories
          option(value=category.categoryName) #{category.categoryName}
      input(class='categ', type='datetime-local', name='startDate', placeholder='Enter start date', required='')
      input(class='categ', type='datetime-local', name='endDate', placeholder='Enter end date', required='')
      input(type='submit', value='Add Event')


    if events.length > 0
      h2 Delete Event
      form(method = 'post', action = '/deleteEvent')
        select(id = "evDel", name = "event", size = events.length)
          each event in events    
            option(value = {'id' : event._id , 'categoryName': event.categoryName}) #{event.startDate + " - " + event.endDate + " - Car: " + event.carName}
        br
        input(type= "submit", class = "evDel", value = "Delete Event")
  
