doctype html
html
  head
    title Add / Delete Cars
  body
    h1 Add / Delete Car
      br

      h2 Configure Event
      h2 #{event}
        form(method='post', action='/addEvent')
          button(name='butt1') butt1
          button(name='butt2') butt2
        br
