doctype html
html
  head
    title Add car
  body
    h1 Add Car
    if events
      each x in events
        script.
          var h = x.getDay();
          alert(h);
        li #{x.startDate}
        li #{x.endDate}
        li #{x.categoryName}
      
